@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply border-2 px-2 py-1 rounded-md;
}

html body {
	margin: 0px;
	height: 100vh;
	width: 100vw;
}
#root {
	height: 100%;
	width: 100%;
}
